<html>
    <head>
        <title>Car Dealership</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h3>Your ad has been posted!</h3>
                    <a class="btn btn-default" href="/" role="button">Back to Car Search</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </body>
</html>
