<html>
<head>
    <title>Car Dealership</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class='container'>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <!-- List all available cars -->

                {% if cars is not empty %}
                    <p>Available cars:</p>
                    {% for car in cars %}
                        <p><b>{{ car.getmodel }}</b></p>
                        <ul>
                            <li>{{ car.getprice }}</li>
                            <li>{{ car.getmiles }}</li>
                            <li><img src="{{ car.getimage}}"></li>
                        </ul>
                    {% endfor %}
                {% endif %}

                <h3>Find a Car!</h3>
                <form action='/results'>
                    <div class='form-group'>
                        <label for='price'>Enter Maximum Price:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input id='price' name='price' class='form-control' type='text' placeholder='Amount'>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label for='miles'>Enter Maximum Mileage:</label>
                        <input id='miles' name='miles' class='form-control' type='text' placeholder="Amount">
                    </div>

                    <button type='submit' class='btn-success'>Submit</button>
                </form>

                <h3>Have a car for sale?  Add it here:</h3>

                <form action='/car_added' method='post'>
                    <div class='form-group'>
                        <label for='model'>Enter Year, Make, and Model:</label>
                        <input id='model' name='model' class='form-control' type='text' placeholder='1996 Dodge Neon'>
                    </div>

                    <div class='form-group'>
                        <label for='price'>Enter Sales Price:</label>
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            <input id='price' name='price' class='form-control' type='text' placeholder='Amount'>
                        </div>
                    </div>

                    <div class='form-group'>
                        <label for='miles'>Enter Mileage:</label>
                        <input id='miles' name='miles' class='form-control' type='text' placeholder='Amount'>
                    </div>

                    <div class='form-group'>
                        <label for='image'>Enter Image URL:</label>
                        <input id='image' name='image' class='form-control' type='text' placeholder='www.yoursite.com/image.jpg'>
                    </div>

                    <button type='submit' class='btn-success'>Submit</button>
                </form>

                <form action='/delete_cars' method='post'>
                    <div class='form-group'>
                        <button class='btn btn-danger' type='submit'>Remove All Cars</button>
                    </div>
                </form>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</body>
</html>
